.header {
    width: 70%;
    background: #fff;
    border-bottom: 2px solid #ddd;
}
.htm {
    margin-top: 120px;
}
.mt-25 {
    margin-top: 25px !important;
}
.g-container {
}
.bread-crum {
    height: 20px;
}